.unLoggedInMenu {
  list-style-type: none;
  margin-left: -30px;
  font-family: 'Open Sans';
}

.unLoggedInMenu-item {
  color: lightslategray;
  margin: 10px 0;
  font-size: 17px;
  transition: all .2s ease-in-out;
}

.unLoggedInMenu-item:hover {
  color: black;
}

.Header-signup-signin {
  display: inline-block;
}

.Header-version-number {
  margin-right: 20px;
  color: lightslategray;
  transition: all .2s ease-in-out;
}

.Header-version-number:hover {
  color: black;
}

.Header-signup-signin-link {
  text-decoration: none;
}

.Header-signup-signin-item {
  margin: 0 10px;
  color: lightslategray;
  font-size: 17px;
  transition: all .2s ease-in-out;
}

.Header-signup-signin-item:hover {
  color: black;
}