.Settings-content {

}

.Settings-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.Settings-item-name {
  width: 110px;
}

.Settings-item-content {
  width: 150px;
}

.Settings-set-sessions {
  width: 128px;
}

.play-sound {
  margin-left: 10px;
  font-size: 17px;
  color: darkgreen;
}

.play-sound:hover {
  cursor: pointer;
}


