.Timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Timer-wrapper {
  position: relative;
  height: 300px;
  width: 300px;
  /* border: 1px solid #b9b9b9; */
  border-radius: 150px;
  margin: 30px auto;
  transition: all .2s ease-in-out;
}

.Timer-wrapper:hover {
  /* border: 1px solid #0581e0; */
  cursor: pointer;
}

.timer-icon {
  position: absolute;
  top: 105px;
  left: 110.6px;
  font-size: 90px;
  color: #103958;
  transition: all .2s ease-in-out;
}

.timer-icon:hover {
  transform: scale(1.3);
}

.fa-stop.timer-icon {
  color: #FE484D;
}

.Timer-time-display {
  position: absolute;
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  top: 97.5px;
  left: 42.97px;
  font-size: 70px;
}

.Timer-fa-play-wrapper {
  position: relative;
  height: 100%;
  background: grey;
  border-radius: 150px;
}

.Timer-mode-display {
  width: 130px;
  text-align: left;
  font-size: 17px;
}

.Timer-sessions {
  width: 130px;
  text-align: left;
  font-size: 17px;

}